<div ng-controller="LocationController">
<ul class="nav nav-sidebar">
    <li><a ng-click="go('/')" href="#">Overview <span class="sr-only">(current)</span></a></li>
    <li><a href="#">Reports</a></li>
    <li><a href="#">Analytics</a></li>
    <li><a href="#">Export</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="devices">Devices</a></li>
    <li><a href="models">Models</a></li>
    <li><a href="">Pseudowire</a></li>
    <li><a href="">OAM metrics</a></li>
    <li><a href="">Y1731 metrics</a></li>
</ul>
<ul class="nav nav-sidebar">
    <li><a href="">Services</a></li>
    <li><a href="">Configuration Templates</a></li>
    <li><a href="#" onclick="window.location.href ='/web_app/logout'">Sign out</a></li>
</ul>
    </div>